<div class="jumbotron">
  <h1>Oops!</h1>
  <p>Your entered email has already been taken. Please go back and enter in another.</p>
  <a href="/users/new" class="btn btn-danger btn-lg"> Go Back</a>
</div>
