<div class="jumbotron">
  <center>
    <h1><del>Missed</del> Connections</h1>
  </center>
  <p>Ever use missed connections on Craigslist? Have you ever wondered if someone was looking for you?</p>
  <p>Our service searches and curates recent postings that match the description of... you!</p>
  <br>
  <center>
    <a href="/users/new" class="btn btn-danger btn-lg"> Get started!</a>
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
  </center>
</div>
