<!DOCTYPE html>
<html lang="en">
<head>
  <title>Missed Connections</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><font color="#FF666"><del>Missed</del> Connections</a></font>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
</div>


</body>
</html>
