<div class="jumbotron">
  <h1>Welcome Back</h1>
  <form class="" action="/login" method="post">
    <div class="form-group">
      <label for="email">Email:</label><input class="form-control" type="text" name="email" placeholder="i.e. max@max.com">
      <br>
      <label for="password">Password:</label><input class="form-control" type="password" name="password" placeholder="">
    </div>
    <button class="form-control btn btn-danger" name="button">Login</button>
    </form>
  </div>
</div>
