<div class="jumbotron">
  <h1>Welcome Back</h1>
  <% if @users.any?() %>
  <p>Select your name from the list below</p>
    <form class="" action="/users/select" method="post">
      <select name="user_id" class="selectpicker">
        <% @users.each() do |user| %>
          <option value="<%= user.id() %>"><%= user.name() %></option>
        <% end %>
      </select>
      <button class="btn btn-danger btn-sm">Enter</button>
    </form>
  <% else %>
    <p>
      Click the button below to sign up!
    </p>
    <a href="/users/new" class="btn btn-danger btn-lg"> Get started!</a>
  <% end %>
</div>
