<div class="jumbotron">
  <h3>Welcome New User</h3>
  <p>Enter in your information below.</p>
  <form class="" action="/users/new" method="post">
    <div class="form-group">
      <label for="name">Name:</label><input class="form-control" type="text" name="name" placeholder="i.e. Max">
      <br>
      <label for="email">Email:</label><input class="form-control" type="text" name="email" placeholder="i.e. max@max.com">
      <br>
      <label for="email">Password:</label><input class="form-control" type="text" name="password" placeholder="">
    </div>
    <button class="form-control" name="button">Submit</button>
  </form>
</div>
