<div class="jumbotron">
  <h3>Welcome New User</h3>
  <form class="" action="/users/new" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Name">
    </div>
    <button class="form-control" name="button">Submit</button>
  </form>
</div>
