body {
  background-image: url('/../img/twolovers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.navbar {
  /*font-size: 20px;*/
}

.navbar-brand {
  font-size: 20px;
}
